.bg-light {
  height: 100vh;
}

.card-body {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.form-floating .form-control:hover {
  box-shadow: none !important;
}

.form-floating .form-control:focus {
  box-shadow: none !important;
}

.form-check .form-control:hover {
  box-shadow: none !important;
}

.form-check .form-control:focus {
  box-shadow: none !important;
}

.btn .form-control:hover {
  box-shadow: none !important;
}

.btn .form-control:focus {
  box-shadow: none !important;
}

.password-column {
  max-width: 200px !important;
  overflow-x: auto !important;
  white-space: nowrap !important;
  display: block !important;
}
